* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

/*css for the auto-complete feature*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*css for email form*/
.form-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

/*css for title-information*/
.title-information {
  display:flex;
  align-items: center;
  justify-content: center;
}
/*css for filters*/
.filters-container {
    display: none;
    align-items: center;
    justify-content: center;
}

/*css for filters*/
.buidings-filter {

}
/*css for filters*/
.floors-filter {

}

/*css for filters*/
.equipment-filter {

}

/*css for filters*/
.date-filter {

}

/*css for filters*/
.time-of-day-filter {

}

/*css for filters*/
.latest-time {

}

/*css for attendee list*/
.attendee-list {
  width: 80%;
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.attendee-email {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}

.email-div {
  padding: 3px;
  margin: 3px;
  background: #3cd462;
  border: 0.25px solid #5b6362;
  border-radius: 5px;
}

.email-text {
  padding: 3px;
  margin: 3px;
}

.delete-div {
  padding: 2px;
  margin: 2px;
}

.delete-button {
  padding: 2px;
  margin: 2px;
  background: #db6262;
  border: 0.25px solid #5b6362;
  border-radius: 5px;
}

.delete-text {
  padding: 3px;
  margin: 3px;
}

/*css for delete button*/
